
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  color: #9058a8;
  text-align: center;
  /* animation: shake infinite 1s linear alternate; */
}

p:hover {
  animation: d3Shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes shake {
  0% {
    color: red;
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    color: green;
    transform: translateX(30px);
  }
  100% {
    color: indigo;
    transform: translateX(0);
  }
}


@keyframes d3Shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* HeroesComponent's private CSS styles */
.selected {
  background-color: #65b8dc !important;
  color: white;
}
.heroes {
  margin: 0 auto;
  /* margin: 0 0 2em 0; */
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}